/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700;
}

/* Estilos del contenido principal */
main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

/* Estilos de secciones */
section {
    margin-bottom: 3rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Estilos del área hero */
#hero {
    background: linear-gradient(to bottom, #70e000, #007a2b);
    color: #fff;
    text-align: center;
    padding: 6rem 0;
}

.hero-content {
    max-width: 1000px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    background-color: #ffd700;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ffc800;
}

/* Estilos de productos y servicios */
.producto,
.servicio {
    text-align: center;
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.producto img,
.servicio img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.producto h3,
.servicio h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.producto p,
.servicio p {
    font-size: 1.1rem;
    color: #555;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
/* Otros estilos ... */

/* Establecer un fondo de pantalla en la página */
body {
    background-image: url('images/A1.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

